/* slider Start */

.carousel-item-ex {
    height: 80vh;
    min-height: 350px;
    padding-bottom: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption-ex {
    margin-bottom: 150px;
}

.hero {
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
}


/* Slider End */

.fa-star {
    font-size: 20px;
}

.fa-star.filled {
    color: #FFC014;
}



/*-------------------------------- 
      Responsive The Website 
--------------------------------*/
/* Mobile Device */
@media only screen and (max-width:688px) {
    .carousel-item-ex {
        height: 65vh;
        min-height: 350px;
        padding-bottom: 100px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .carousel-item-ex {
        height: 50vh;
        min-height: 350px;
        padding-bottom: 150px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}